@import '../shared';

.sidebar {
    flex: 1;
    min-height: 100vh;
    background-color: #171f22;

    .list-group-item {
        background-color: inherit;
        font-size: 18px;
    }
}

.main-content {
    flex: 5;

    nav.navbar {
        background-color: #171f22;
    }
}

.table > tbody > tr > td {
    border-top: none;
}
.uc {
    text-transform: uppercase;
}
.uc-first {
    text-transform: capitalize;
}
.pointer {
    cursor: pointer;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    color: black;
}
img.table-img {
    width: auto;
    max-height: 100px;
}
.mp-0 {
    padding: 0;
    margin: 0;
}
.full-width {
    width: 100%;
}
ul.flex-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.flex-list li:not(:last-child) {
    margin-right: 15px;
}
ul.flex-list.nice-list li:not(:last-child) {
    margin-right: 0;
    padding-right: 7px;
    border-right: 1px solid;
}
ul.flex-list.nice-list li:not(:first-child) {
    padding-left: 7px;
}
/* fleksovi */
.flex-list,
.flex,
.flex-sp-between,
.flex-center {
    display: flex;
}
.flex-sp-between {
    justify-content: space-between;
}
.flex-center,
ul.flex-list.center {
    justify-content: center;
    align-items: center;
}
.resource-table tr {
    border-top: 1px solid #cdcfd0;
}
